## Este projeto tem o objetivo de construir um banco de dados com as informações de filmes da Netflix com a respectiva nota do IMDB. Pode servir de base para a criação de um sistema de recomendação de filmes e séries. Para isso, vamos inserir o rating do IMDB dentro da lista de filme do Netflix

In [9]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

Datasets:

Netflix - https://www.kaggle.com/shivamb/netflix-shows (Kaggle)
IMDB - https://datasets.imdbws.com/

Opening data:

NETFLIX - Este conjunto de dados consiste nos filmes e 'tv shows' disponíveis na Netflix atualizados até 2019. Este conjunto de dados foram coletados através de um 'search-engine' chamado Flixable.

In [10]:
df_netflix = pd.read_csv('./netflix_titles.csv', encoding='UTF-8')
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

IMDB - Dois datasets: um com o rating e outros com os títulos.

In [19]:
df_netflix_limpo = df_netflix[['title', 'release_year', 'director', 'type']]
df_netflix_limpo.head()

,title,release_year,director,type
0,Norm of the North: King Sized Adventure,2019,"Richard Finn, Tim Maltby",Movie
1,Jandino: Whatever it Takes,2016,NaN,Movie
2,Transformers Prime,2013,NaN,TV Show
3,Transformers: Robots in Disguise,2016,NaN,TV Show
4,#realityhigh,2017,Fernando Lebrija,Movie

In [20]:
df_netflix_limpo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 4 columns):
title           6234 non-null object
release_year    6234 non-null int64
director        4265 non-null object
type            6234 non-null object
dtypes: int64(1), object(3)
memory usage: 194.9+ KB

In [36]:
#TRATAMENTO DOS DADOS NULOS
#df_netflix_limpo[df_netflix_limpo['director'].isnull()]

df_netflix_limpo = df_netflix_limpo.fillna({'director': 'na'})
df_netflix_limpo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 4 columns):
title           6234 non-null object
release_year    6234 non-null int64
director        6234 non-null object
type            6234 non-null object
dtypes: int64(1), object(3)
memory usage: 194.9+ KB

In [37]:
#DATASET IMDB - RATING
df_imdb_rat = pd.read_csv('./imdb_ratings.tsv', sep='\t', encoding='UTF-8')
df_imdb_rat.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1623
1  tt0000002            6.1       196
2  tt0000003            6.5      1312
3  tt0000004            6.2       119
4  tt0000005            6.1      2092

In [38]:
#DATASET IMDB COM OS TÍTULOS DOS FILMES

df_imdb_titles = pd.read_csv('./imdb_titles.tsv', sep='\t', encoding='UTF-8')
df_imdb_titles.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [39]:
df = df_imdb_titles.copy()

In [40]:
# Precisamos apenas de títulos com a região 'US'

selecao = df['region'] == 'US'

In [41]:
#reduzimos de 22 milhoes de filmes para 1M
df[selecao].shape[0]

1050621

In [42]:
# Criando um novo dataframe com a região 'US'

df_us = df[selecao]

In [43]:
df_us.head(50)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,\N,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
35,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
39,tt0000005,5,Blacksmith Scene #1,US,\N,alternative,\N,0
40,tt0000005,6,Blacksmithing,US,\N,\N,informal alternative title,0
43,tt0000005,9,Blacksmith Scene,US,\N,\N,\N,0
46,tt0000006,3,Chinese Opium Den,US,\N,\N,\N,0
50,tt0000007,1,Corbett and Courtney Before the Kinetograph,US,\N,\N,\N,0
54,tt0000007,5,The Corbett-Courtney Fight,US,\N,alternative,\N,0
55,tt0000007,6,Jim Corbett vs. Peter Courtney,US,\N,alternative,\N,0
62,tt0000008,3,"Edison Kinetoscopic Record of a Sneeze, Januar...",US,\N,\N,complete title,0
63,tt0000008,4,Edison Kinetoscopic Record of a Sneeze,US,\N,\N,\N,0
72,tt0000009,4,Miss Jerry,US,\N,\N,\N,0
75,tt0000010,12,Leaving the Factory,US,\N,imdbDisplay,\N,0
80,tt0000010,17,Workers Leaving the Lumière Factory,US,\N,imdbDisplay,\N,0
89,tt0000010,3,Exiting the Factory,US,\N,imdbDisplay,\N,0
91,tt0000010,5,Employees Leaving the Lumière Factory,US,\N,alternative,\N,0
109,tt0000012,1,The Arrival of a Train,US,\N,imdbDisplay,\N,0
120,tt0000012,3,The Arrival of the Mail Train,US,\N,alternative,\N,0
134,tt0000013,4,The Photographical Congress Arrives in Lyon,US,\N,\N,\N,0
150,tt0000014,1,The Sprinkler Sprinkled,US,\N,imdbDisplay,\N,0
151,tt0000014,20,The Waterer Watered,US,\N,imdbDisplay,\N,0
157,tt0000014,2,Tables Turned on the Gardener,US,\N,alternative,\N,0
164,tt0000014,9,The Sprayer Sprayed,US,\N,alternative,\N,0
167,tt0000015,3,Around a Bathing Hut,US,\N,\N,literal English title,0
194,tt0000022,1,The Blacksmiths,US,\N,\N,literal English title,0
199,tt0000022,6,Blacksmith Scene,US,\N,\N,\N,0
209,tt0000023,4,The Sea,US,\N,\N,\N,0
230,tt0000026,5,The Messers. Lumière at Cards,US,\N,\N,\N,0
236,tt0000027,2,Cordeliers' Square in Lyon,US,\N,\N,\N,0
247,tt0000028,7,Fishing for Goldfish,US,\N,\N,\N,0
256,tt0000029,18,Baby's Lunch,US,\N,\N,original script title,0
257,tt0000029,1,Baby's Dinner,US,\N,\N,\N,0
258,tt0000029,2,Feeding the Baby,US,\N,\N,\N,0
278,tt0000031,6,Jumping the Blanket,US,\N,\N,\N,0
291,tt0000033,5,Trick Riding,US,\N,\N,\N,0
300,tt0000035,4,Watering the Flowers,US,\N,\N,\N,0
301,tt0000036,1,Awakening of Rip,US,\N,\N,\N,0
304,tt0000037,1,Sea Bathing,US,\N,imdbDisplay,\N,0
308,tt0000038,1,The Ball Game,US,\N,\N,\N,0
310,tt0000040,1,Boat Leaving the Harbor at Trouville,US,\N,\N,literal English title,0
315,tt0000041,1,Snowball Fight,US,\N,\N,informal English title,0
331,tt0000045,3,The Washerwomen,US,\N,\N,literal English title,0
340,tt0000050,2,Baby and Young Girls,US,\N,\N,literal English title,0
342,tt0000051,1,The Bohemian Encampment,US,\N,\N,\N,0
343,tt0000051,2,Gypsies at Home,US,\N,\N,literal English title,0
353,tt0000054,1,A Merry-Go-Round,US,\N,\N,\N,0
364,tt0000059,1,Coronation of a Village Maiden,US,\N,\N,\N,0
367,tt0000060,1,Dancing Darkies,US,\N,\N,\N,0
377,tt0000067,2,Conjurer Making Ten Hats in Sixty Seconds,US,\N,\N,\N,0

In [44]:
# Existem títulos duplicados, mas o campo 'ordering' é importante. Vamos ordenar esta coluna e depois manter 
# apenas a primeira seleção dos duplicados
df_us = df_us.sort_values(['titleId', 'ordering'], ascending=[True, True])
df_us.head(50)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,\N,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
35,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
39,tt0000005,5,Blacksmith Scene #1,US,\N,alternative,\N,0
40,tt0000005,6,Blacksmithing,US,\N,\N,informal alternative title,0
43,tt0000005,9,Blacksmith Scene,US,\N,\N,\N,0
46,tt0000006,3,Chinese Opium Den,US,\N,\N,\N,0
50,tt0000007,1,Corbett and Courtney Before the Kinetograph,US,\N,\N,\N,0
54,tt0000007,5,The Corbett-Courtney Fight,US,\N,alternative,\N,0
55,tt0000007,6,Jim Corbett vs. Peter Courtney,US,\N,alternative,\N,0
62,tt0000008,3,"Edison Kinetoscopic Record of a Sneeze, Januar...",US,\N,\N,complete title,0
63,tt0000008,4,Edison Kinetoscopic Record of a Sneeze,US,\N,\N,\N,0
72,tt0000009,4,Miss Jerry,US,\N,\N,\N,0
89,tt0000010,3,Exiting the Factory,US,\N,imdbDisplay,\N,0
91,tt0000010,5,Employees Leaving the Lumière Factory,US,\N,alternative,\N,0
75,tt0000010,12,Leaving the Factory,US,\N,imdbDisplay,\N,0
80,tt0000010,17,Workers Leaving the Lumière Factory,US,\N,imdbDisplay,\N,0
109,tt0000012,1,The Arrival of a Train,US,\N,imdbDisplay,\N,0
120,tt0000012,3,The Arrival of the Mail Train,US,\N,alternative,\N,0
134,tt0000013,4,The Photographical Congress Arrives in Lyon,US,\N,\N,\N,0
150,tt0000014,1,The Sprinkler Sprinkled,US,\N,imdbDisplay,\N,0
157,tt0000014,2,Tables Turned on the Gardener,US,\N,alternative,\N,0
164,tt0000014,9,The Sprayer Sprayed,US,\N,alternative,\N,0
151,tt0000014,20,The Waterer Watered,US,\N,imdbDisplay,\N,0
167,tt0000015,3,Around a Bathing Hut,US,\N,\N,literal English title,0
194,tt0000022,1,The Blacksmiths,US,\N,\N,literal English title,0
199,tt0000022,6,Blacksmith Scene,US,\N,\N,\N,0
209,tt0000023,4,The Sea,US,\N,\N,\N,0
230,tt0000026,5,The Messers. Lumière at Cards,US,\N,\N,\N,0
236,tt0000027,2,Cordeliers' Square in Lyon,US,\N,\N,\N,0
247,tt0000028,7,Fishing for Goldfish,US,\N,\N,\N,0
257,tt0000029,1,Baby's Dinner,US,\N,\N,\N,0
258,tt0000029,2,Feeding the Baby,US,\N,\N,\N,0
256,tt0000029,18,Baby's Lunch,US,\N,\N,original script title,0
278,tt0000031,6,Jumping the Blanket,US,\N,\N,\N,0
291,tt0000033,5,Trick Riding,US,\N,\N,\N,0
300,tt0000035,4,Watering the Flowers,US,\N,\N,\N,0
301,tt0000036,1,Awakening of Rip,US,\N,\N,\N,0
304,tt0000037,1,Sea Bathing,US,\N,imdbDisplay,\N,0
308,tt0000038,1,The Ball Game,US,\N,\N,\N,0
310,tt0000040,1,Boat Leaving the Harbor at Trouville,US,\N,\N,literal English title,0
315,tt0000041,1,Snowball Fight,US,\N,\N,informal English title,0
331,tt0000045,3,The Washerwomen,US,\N,\N,literal English title,0
340,tt0000050,2,Baby and Young Girls,US,\N,\N,literal English title,0
342,tt0000051,1,The Bohemian Encampment,US,\N,\N,\N,0
343,tt0000051,2,Gypsies at Home,US,\N,\N,literal English title,0
353,tt0000054,1,A Merry-Go-Round,US,\N,\N,\N,0
364,tt0000059,1,Coronation of a Village Maiden,US,\N,\N,\N,0
367,tt0000060,1,Dancing Darkies,US,\N,\N,\N,0
377,tt0000067,2,Conjurer Making Ten Hats in Sixty Seconds,US,\N,\N,\N,0

In [45]:
# Mantendo os primeiros itens duplicados e removendo os outros.
df_us = df_us.drop_duplicates(subset='titleId', keep='first')
df_us.head(50)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,\N,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
35,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
46,tt0000006,3,Chinese Opium Den,US,\N,\N,\N,0
50,tt0000007,1,Corbett and Courtney Before the Kinetograph,US,\N,\N,\N,0
62,tt0000008,3,"Edison Kinetoscopic Record of a Sneeze, Januar...",US,\N,\N,complete title,0
72,tt0000009,4,Miss Jerry,US,\N,\N,\N,0
89,tt0000010,3,Exiting the Factory,US,\N,imdbDisplay,\N,0
109,tt0000012,1,The Arrival of a Train,US,\N,imdbDisplay,\N,0
134,tt0000013,4,The Photographical Congress Arrives in Lyon,US,\N,\N,\N,0
150,tt0000014,1,The Sprinkler Sprinkled,US,\N,imdbDisplay,\N,0
167,tt0000015,3,Around a Bathing Hut,US,\N,\N,literal English title,0
194,tt0000022,1,The Blacksmiths,US,\N,\N,literal English title,0
209,tt0000023,4,The Sea,US,\N,\N,\N,0
230,tt0000026,5,The Messers. Lumière at Cards,US,\N,\N,\N,0
236,tt0000027,2,Cordeliers' Square in Lyon,US,\N,\N,\N,0
247,tt0000028,7,Fishing for Goldfish,US,\N,\N,\N,0
257,tt0000029,1,Baby's Dinner,US,\N,\N,\N,0
278,tt0000031,6,Jumping the Blanket,US,\N,\N,\N,0
291,tt0000033,5,Trick Riding,US,\N,\N,\N,0
300,tt0000035,4,Watering the Flowers,US,\N,\N,\N,0
301,tt0000036,1,Awakening of Rip,US,\N,\N,\N,0
304,tt0000037,1,Sea Bathing,US,\N,imdbDisplay,\N,0
308,tt0000038,1,The Ball Game,US,\N,\N,\N,0
310,tt0000040,1,Boat Leaving the Harbor at Trouville,US,\N,\N,literal English title,0
315,tt0000041,1,Snowball Fight,US,\N,\N,informal English title,0
331,tt0000045,3,The Washerwomen,US,\N,\N,literal English title,0
340,tt0000050,2,Baby and Young Girls,US,\N,\N,literal English title,0
342,tt0000051,1,The Bohemian Encampment,US,\N,\N,\N,0
353,tt0000054,1,A Merry-Go-Round,US,\N,\N,\N,0
364,tt0000059,1,Coronation of a Village Maiden,US,\N,\N,\N,0
367,tt0000060,1,Dancing Darkies,US,\N,\N,\N,0
377,tt0000067,2,Conjurer Making Ten Hats in Sixty Seconds,US,\N,\N,\N,0
379,tt0000068,1,Unloading the Boat,US,\N,\N,\N,0
383,tt0000069,1,Post No Bills,US,\N,\N,\N,0
395,tt0000070,3,Demolition of a Wall,US,\N,\N,literal English title,0
402,tt0000071,1,Automobiles Starting a Race,US,\N,imdbDisplay,\N,0
405,tt0000072,1,Officers of French Army Leaving Service,US,\N,imdbDisplay,\N,0
418,tt0000075,5,The Conjuring of a Woman at the House of Rober...,US,\N,\N,\N,0
424,tt0000076,2,Rip and the Dwarf,US,\N,\N,copyright title,0
438,tt0000081,3,Towing a Boat on the River,US,\N,imdbDisplay,\N,0
439,tt0000082,1,A Hard Wash,US,\N,\N,\N,0
449,tt0000085,1,Gardener Burning Weeds,US,\N,\N,\N,0
452,tt0000086,1,"Beach and Pier at Trouville, 1st part",US,\N,\N,\N,0
457,tt0000087,3,"Beach and Pier at Trouville, 2nd part",US,\N,\N,\N,0
460,tt0000088,3,Market Day,US,\N,\N,\N,0
484,tt0000091,7,The Haunted Castle,US,\N,dvd,\N,0
495,tt0000095,2,The Mysterious Paper,US,\N,\N,\N,0
498,tt0000097,1,"Place de l'Opéra, First View",US,\N,\N,\N,0
501,tt0000098,1,"Place de l'Opéra, Second View",US,\N,\N,\N,0

In [46]:
# Verificando a situação da existência de valores únicos no 'titleId'
df_us['titleId'].is_unique

True

In [47]:
df_us['title'].is_unique

False

In [52]:
#df_us.tail() - pegando as ultimas linhas
#df_us.sample(30)- pega um exemplo aleatorio de linhas

In [53]:
#verificando os titulos duplicados, nao sao o mesmo filme, devem ser refilmagens
df_us[df_us.duplicated(subset='title')].head(50)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
972,tt0000280,1,Buffalo Bill's Wild West Parade,US,\N,\N,\N,0
1095,tt0000347,2,Buffalo Bill's Wild West Parade,US,\N,\N,\N,0
1204,tt0000381,1,Buffalo Bill's Wild West Show,US,\N,\N,\N,0
1535,tt0000487,1,The Great Train Robbery,US,\N,imdbDisplay,\N,0
2190,tt0000734,1,Othello,US,\N,\N,\N,0
2528,tt0000886,2,"Hamlet, Prince of Denmark",US,\N,\N,\N,0
2767,tt0000998,1,Othello,US,\N,\N,\N,0
2867,tt0001045,3,A Midsummer Night's Dream,US,\N,\N,literal English title,0
3598,tt0001432,4,Uncle Tom's Cabin,US,\N,\N,\N,0
3670,tt0001467,1,Across the Plains,US,\N,\N,\N,0
3743,tt0001502,1,The Best Man Wins,US,\N,\N,\N,0
3825,tt0001545,2,Cinderella,US,\N,\N,\N,0
3828,tt0001546,2,Cinderella,US,\N,\N,\N,0
3835,tt0001552,1,Conscience,US,\N,\N,\N,0
4178,tt0001738,2,Little Red Riding Hood,US,\N,\N,\N,0
4411,tt0001877,1,She,US,\N,\N,\N,0
4695,tt0002031,1,As You Like It,US,\N,\N,\N,0
4863,tt0002114,2,Conscience,US,\N,\N,\N,0
5368,tt0002358,1,The Merchant of Venice,US,\N,\N,\N,0
5435,tt0002392,1,The Night Before Christmas,US,\N,\N,\N,0
5453,tt0002405,1,Oliver Twist,US,\N,\N,\N,0
5467,tt0002413,1,The Outlaw's Sacrifice,US,\N,\N,\N,0
5522,tt0002435,1,The Power of Love,US,\N,\N,\N,0
5565,tt0002453,1,The Reckoning,US,\N,\N,\N,0
5581,tt0002463,1,Rip Van Winkle,US,\N,\N,\N,0
5629,tt0002493,2,A Sister's Love,US,\N,\N,\N,0
5831,tt0002581,1,White Roses,US,\N,\N,\N,0
5977,tt0002657,1,The Ball Game,US,\N,\N,\N,0
6009,tt0002671,2,The Battle,US,\N,working,\N,0
6078,tt0002718,3,Brothers,US,\N,\N,\N,0
6152,tt0002760,1,Confidence,US,\N,\N,\N,0
6164,tt0002767,6,The Count of Monte Cristo,US,\N,\N,\N,0
6243,tt0002813,4,Dr. Jekyll and Mr. Hyde,US,\N,\N,\N,0
6309,tt0002846,1,The Farmer's Daughter,US,\N,\N,\N,0
6385,tt0002887,1,The Fugitive,US,\N,\N,\N,0
6417,tt0002900,1,The Girl and the Outlaw,US,\N,\N,\N,0
6488,tt0002940,1,The Feud,US,\N,working,\N,0
6509,tt0002954,3,Hiawatha,US,\N,\N,\N,0
6586,tt0002998,1,The Iconoclast,US,\N,\N,\N,0
6676,tt0003038,1,Kathleen Mavourneen,US,\N,\N,\N,0
6875,tt0003140,1,Mexican War Pictures,US,\N,\N,\N,0
6896,tt0003151,2,The Mirror,US,\N,\N,\N,0
6951,tt0003168,2,The Bear,US,\N,working,\N,0
6978,tt0003181,1,Mutt and Jeff,US,\N,\N,\N,0
6979,tt0003182,1,Mutt and Jeff,US,\N,\N,\N,0
6980,tt0003183,1,Mutt and Jeff,US,\N,\N,\N,0
6981,tt0003184,1,Mutt and Jeff,US,\N,\N,\N,0
6982,tt0003185,1,Mutt and Jeff,US,\N,\N,\N,0
6983,tt0003186,1,Mutt and Jeff,US,\N,\N,\N,0
6984,tt0003187,1,Mutt and Jeff,US,\N,\N,\N,0

In [54]:
# Recortar as colunas necessarias
df_us = df_us[['titleId', 'title']]
df_us.head()

      titleId                                        title
5   tt0000001                                   Carmencita
14  tt0000002                       The Clown and His Dogs
35  tt0000005                          Blacksmithing Scene
46  tt0000006                            Chinese Opium Den
50  tt0000007  Corbett and Courtney Before the Kinetograph

In [55]:
df_us.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 989625 entries, 5 to 22234110
Data columns (total 2 columns):
titleId    989625 non-null object
title      989625 non-null object
dtypes: object(2)
memory usage: 22.7+ MB

In [57]:
# Adicionando outra coluna com o ano de produção;
# Novo dataframe do IMDB com o ano

df_ = pd.read_csv('./imdb2.tsv', sep='\t', encoding='UTF-8')
df_2.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [59]:
# Um novo DF com apenas o Identificador 'tconst' e o ano

df_year = df_2[['tconst', 'startYear', 'endYear']].copy()

In [60]:
df_year.head()

      tconst startYear endYear
0  tt0000001      1894      \N
1  tt0000002      1892      \N
2  tt0000003      1892      \N
3  tt0000004      1892      \N
4  tt0000005      1893      \N

In [61]:
df_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6958381 entries, 0 to 6958380
Data columns (total 3 columns):
tconst       object
startYear    object
endYear      object
dtypes: object(3)
memory usage: 159.3+ MB

In [65]:
#modificando o campo nulo para '0' 
df_year['endYear'] = df_year['endYear'].replace([r'\N'], '0')
df_year['startYear'] = df_year['startYear'].replace([r'\N'], '0')
# tranformando o campo em numérico
df_year['endYear'] = pd.to_numeric(df_year['endYear'])
df_year['startYear'] = pd.to_numeric(df_year['startYear'])

In [66]:
df_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6958381 entries, 0 to 6958380
Data columns (total 3 columns):
tconst       object
startYear    int64
endYear      int64
dtypes: int64(2), object(1)
memory usage: 159.3+ MB

In [28]:
#Join dos data.frames que constavam ano e titulo do filme(US)
#df_us_year = pd.merge(df_year, df_us, left_on='tconst', right_on='titleId', how='outer')

In [68]:
df_year.tconst.is_unique

True

In [76]:
df_us.rename(columns={'titleId': "tconst"}, inplace=True)

In [77]:
df_us.head()

       tconst                                        title
5   tt0000001                                   Carmencita
14  tt0000002                       The Clown and His Dogs
35  tt0000005                          Blacksmithing Scene
46  tt0000006                            Chinese Opium Den
50  tt0000007  Corbett and Courtney Before the Kinetograph

In [70]:
df_year.head(1)

      tconst  startYear  endYear
0  tt0000001       1894        0

In [71]:
df_imdb_rat.head(1)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1623

In [82]:
df_imdb = pd.merge(df_year, df_imdb_rat, left_on='tconst', right_on='tconst', how='outer')

In [83]:
df_imdb.head()

      tconst  startYear  endYear  averageRating  numVotes
0  tt0000001       1894        0            5.7    1623.0
1  tt0000002       1892        0            6.1     196.0
2  tt0000003       1892        0            6.5    1312.0
3  tt0000004       1892        0            6.2     119.0
4  tt0000005       1893        0            6.1    2092.0

In [84]:
df_imdb = pd.merge(df_imdb, df_us, left_on='tconst', right_on='tconst', how='outer')

In [85]:
df_imdb.head()

,tconst,startYear,endYear,averageRating,numVotes,title
0,tt0000001,1894.0,0.0,5.7,1623.0,Carmencita
1,tt0000002,1892.0,0.0,6.1,196.0,The Clown and His Dogs
2,tt0000003,1892.0,0.0,6.5,1312.0,NaN
3,tt0000004,1892.0,0.0,6.2,119.0,NaN
4,tt0000005,1893.0,0.0,6.1,2092.0,Blacksmithing Scene

In [86]:
df_imdb.tconst.is_unique

True

In [87]:
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6961703 entries, 0 to 6961702
Data columns (total 6 columns):
tconst           object
startYear        float64
endYear          float64
averageRating    float64
numVotes         float64
title            object
dtypes: float64(4), object(2)
memory usage: 371.8+ MB

In [ ]:
# nao vai dar certo, talvez, porque o dataset do IMDB das datas(anos) está com algum problema

In [88]:
#retirando os titulos nulos, possiveis filmes estrangeiros nao regionalizados para US
df_imdb = df_imdb.dropna(subset=['title'])

In [89]:
df_imdb.head(40)

,tconst,startYear,endYear,averageRating,numVotes,title
0,tt0000001,1894.0,0.0,5.7,1623.0,Carmencita
1,tt0000002,1892.0,0.0,6.1,196.0,The Clown and His Dogs
4,tt0000005,1893.0,0.0,6.1,2092.0,Blacksmithing Scene
5,tt0000006,1894.0,0.0,5.2,112.0,Chinese Opium Den
6,tt0000007,1894.0,0.0,5.4,644.0,Corbett and Courtney Before the Kinetograph
7,tt0000008,1894.0,0.0,5.4,1786.0,"Edison Kinetoscopic Record of a Sneeze, Januar..."
8,tt0000009,1894.0,0.0,5.9,153.0,Miss Jerry
9,tt0000010,1895.0,0.0,6.9,5954.0,Exiting the Factory
11,tt0000012,1896.0,0.0,7.4,10145.0,The Arrival of a Train
12,tt0000013,1895.0,0.0,5.7,1552.0,The Photographical Congress Arrives in Lyon
13,tt0000014,1895.0,0.0,7.2,4428.0,The Sprinkler Sprinkled
14,tt0000015,1894.0,0.0,6.1,799.0,Around a Bathing Hut
20,tt0000022,1895.0,0.0,5.1,871.0,The Blacksmiths
21,tt0000023,1895.0,0.0,5.7,1120.0,The Sea
24,tt0000026,1896.0,0.0,5.7,1293.0,The Messers. Lumière at Cards
25,tt0000027,1895.0,0.0,5.6,910.0,Cordeliers' Square in Lyon
26,tt0000028,1895.0,0.0,5.2,844.0,Fishing for Goldfish
27,tt0000029,1895.0,0.0,5.9,2812.0,Baby's Dinner
29,tt0000031,1895.0,0.0,5.6,818.0,Jumping the Blanket
31,tt0000033,1895.0,0.0,5.6,844.0,Trick Riding
33,tt0000035,1896.0,0.0,5.5,57.0,Watering the Flowers
34,tt0000036,1896.0,0.0,4.4,488.0,Awakening of Rip
35,tt0000037,1896.0,0.0,4.6,41.0,Sea Bathing
36,tt0000038,1898.0,0.0,4.1,148.0,The Ball Game
38,tt0000040,1896.0,0.0,4.2,37.0,Boat Leaving the Harbor at Trouville
39,tt0000041,1897.0,0.0,6.6,1380.0,Snowball Fight
43,tt0000045,1896.0,0.0,4.5,17.0,The Washerwomen
48,tt0000050,1896.0,0.0,4.2,14.0,Baby and Young Girls
49,tt0000051,1896.0,0.0,3.7,15.0,The Bohemian Encampment
52,tt0000054,1896.0,0.0,5.2,19.0,A Merry-Go-Round
57,tt0000059,1896.0,0.0,3.5,14.0,Coronation of a Village Maiden
58,tt0000060,1896.0,0.0,7.6,61.0,Dancing Darkies
65,tt0000067,1896.0,0.0,5.8,41.0,Conjurer Making Ten Hats in Sixty Seconds
66,tt0000068,1896.0,0.0,3.7,12.0,Unloading the Boat
67,tt0000069,1896.0,0.0,4.9,343.0,Post No Bills
68,tt0000070,1896.0,0.0,6.4,2223.0,Demolition of a Wall
69,tt0000071,1896.0,0.0,3.5,15.0,Automobiles Starting a Race
70,tt0000072,1896.0,0.0,4.2,14.0,Officers of French Army Leaving Service
73,tt0000075,1896.0,0.0,6.3,1530.0,The Conjuring of a Woman at the House of Rober...
74,tt0000076,1896.0,0.0,4.5,425.0,Rip and the Dwarf

In [90]:
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 989625 entries, 0 to 6961702
Data columns (total 6 columns):
tconst           989625 non-null object
startYear        986303 non-null float64
endYear          986303 non-null float64
averageRating    345514 non-null float64
numVotes         345514 non-null float64
title            989625 non-null object
dtypes: float64(4), object(2)
memory usage: 52.9+ MB

## PARAMOS AQUI...
### TAREFAS PENDENTES: 
1-TRATAR OS NULOS DOS CAMPOS DE ANO DO IMDB
2-FAZER UMA SELECAO QUE ACEITE UM CAMPO DE DIFERENCA DE TEMPO DE PRODUCAO DO FILME,
3-TENTAR ENCONTRAR A JUNÇÃO PELA LOGICA DO GROUPBY
4-OU CRIAR UM CAMPO CHAMADO DIFER QUE POSSA ESTAR NUM DOS DF'S: OU IMDB OU NETFLIX

In [109]:
#tratando campos nulos
df_imdb['endYear'] = df_imdb['endYear'].replace([NaN], 0)
df_imdb['startYear'] = df_imdb['startYear'].replace([NaN], 0)
df_imdb.info()

NameError: name 'NaN' is not defined

In [ ]:
# o menino ressuscitou, o df.info voltou a informar os campos que antes nao mostrava

In [94]:
# trocando o nome para melhorar a visualizacao de quais sao os campos e a origem deles
df_netflix_limpo = df_netflix_limpo.rename(columns={'title':'titleNetflix'})

In [95]:
df_netflix_limpo.head()

,titleNetflix,release_year,director,type
0,Norm of the North: King Sized Adventure,2019,"Richard Finn, Tim Maltby",Movie
1,Jandino: Whatever it Takes,2016,na,Movie
2,Transformers Prime,2013,na,TV Show
3,Transformers: Robots in Disguise,2016,na,TV Show
4,#realityhigh,2017,Fernando Lebrija,Movie

In [105]:
df_netflix_limpo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 4 columns):
titleNetflix    6234 non-null object
release_year    6234 non-null int64
director        6234 non-null object
type            6234 non-null object
dtypes: int64(1), object(3)
memory usage: 194.9+ KB

In [98]:
# METODO MERGE
# IMDB + NETFLIX
df_final = pd.merge(df_netflix_limpo, df_imdb, left_on=['titleNetflix', 'release_year'], right_on=['title', 'startYear'], how='inner')

In [99]:
df_final.head(50)

,titleNetflix,release_year,director,type,tconst,startYear,endYear,averageRating,numVotes,title
0,Norm of the North: King Sized Adventure,2019,"Richard Finn, Tim Maltby",Movie,tt9428190,2019.0,0.0,3.1,274.0,Norm of the North: King Sized Adventure
1,Automata,2014,Gabe Ibáñez,Movie,tt1971325,2014.0,0.0,6.1,53154.0,Automata
2,Fire Chasers,2017,na,TV Show,tt7293754,2017.0,2017.0,6.6,301.0,Fire Chasers
3,Good People,2014,Henrik Ruben Genz,Movie,tt1361318,2014.0,0.0,5.5,15101.0,Good People
4,Kidnapping Mr. Heineken,2015,Daniel Alfredson,Movie,tt2917388,2015.0,0.0,6.1,18913.0,Kidnapping Mr. Heineken
5,Love,2015,Gaspar Noé,Movie,tt1867005,2015.0,0.0,NaN,NaN,Love
6,Love,2015,Gaspar Noé,Movie,tt3774694,2015.0,0.0,6.1,43796.0,Love
7,Love,2015,Gaspar Noé,Movie,tt4504280,2015.0,0.0,NaN,NaN,Love
8,Love,2015,Gaspar Noé,Movie,tt4662448,2015.0,0.0,NaN,NaN,Love
9,Love,2015,Gaspar Noé,Movie,tt4699346,2015.0,0.0,NaN,NaN,Love
10,Love,2015,Gaspar Noé,Movie,tt4950272,2015.0,0.0,NaN,NaN,Love
11,Love,2015,Gaspar Noé,Movie,tt6817136,2015.0,0.0,NaN,NaN,Love
12,Manhattan Romance,2014,Tom O'Brien,Movie,tt2608324,2014.0,0.0,5.5,1266.0,Manhattan Romance
13,Moonwalkers,2015,Antoine Bardou-Jacquet,Movie,tt2718440,2015.0,0.0,6.1,8278.0,Moonwalkers
14,Rolling Papers,2015,Mitch Dickman,Movie,tt3621360,2015.0,0.0,6.2,447.0,Rolling Papers
15,Stonehearst Asylum,2014,Brad Anderson,Movie,tt1772264,2014.0,0.0,6.8,49561.0,Stonehearst Asylum
16,The Runner,2015,Austin Stark,Movie,tt3687398,2015.0,0.0,4.7,4908.0,The Runner
17,6 Years,2015,Hannah Fidell,Movie,tt3799372,2015.0,0.0,5.6,11123.0,6 Years
18,Next Gen,2018,"Kevin R. Adams, Joe Ksander",Movie,tt10715940,2018.0,2018.0,NaN,NaN,Next Gen
19,Next Gen,2018,"Kevin R. Adams, Joe Ksander",Movie,tt7133686,2018.0,0.0,6.6,13062.0,Next Gen
20,Next Gen,2018,"Kevin R. Adams, Joe Ksander",Movie,tt8615310,2018.0,0.0,NaN,NaN,Next Gen
21,Archibald's Next Big Thing,2019,na,TV Show,tt9165404,2019.0,0.0,7.9,169.0,Archibald's Next Big Thing
22,Article 15,2019,Anubhav Sinha,Movie,tt10324144,2019.0,0.0,8.2,20043.0,Article 15
23,The Spy,2019,na,TV Show,tt5952634,2019.0,2019.0,7.9,25235.0,The Spy
24,Hell and Back,2015,"Tom Gianas, Ross R. Shuman",Movie,tt2141773,2015.0,0.0,5.4,4647.0,Hell and Back
25,Hell and Back,2015,"Tom Gianas, Ross R. Shuman",Movie,tt5658028,2015.0,0.0,NaN,NaN,Hell and Back
26,PK,2014,Rajkumar Hirani,Movie,tt2338151,2014.0,0.0,8.1,154625.0,PK
27,American Factory: A Conversation with the Obamas,2019,na,Movie,tt10937318,2019.0,0.0,5.3,198.0,American Factory: A Conversation with the Obamas
28,ATM,2012,Mez Tharatorn,Movie,tt1603257,2012.0,0.0,4.7,22395.0,ATM
29,One Day,2016,Banjong Pisanthanakun,Movie,tt5427530,2016.0,0.0,NaN,NaN,One Day
30,One Day,2016,Banjong Pisanthanakun,Movie,tt5977400,2016.0,0.0,NaN,NaN,One Day
31,Shutter,2004,"Banjong Pisanthanakun, Parkpoom Wongpoom",Movie,tt0416221,2004.0,0.0,6.6,20.0,Shutter
32,Carrie Pilby,2016,Susan Johnson,Movie,tt2989524,2016.0,0.0,6.6,7228.0,Carrie Pilby
33,Marc Maron: Too Real,2017,Lynn Shelton,Movie,tt7335938,2017.0,0.0,7.2,1563.0,Marc Maron: Too Real
34,No Tomorrow,2016,na,TV Show,tt5595688,2016.0,2017.0,7.2,4604.0,No Tomorrow
35,The Heretics,2017,Chad Archibald,Movie,tt6318848,2017.0,0.0,4.7,1446.0,The Heretics
36,The World We Make,2019,Brian Baugh,Movie,tt7643622,2019.0,0.0,5.2,453.0,The World We Make
37,Black Panther,2018,Ryan Coogler,Movie,tt1825683,2018.0,0.0,7.3,586918.0,Black Panther
38,Black Panther,2018,Ryan Coogler,Movie,tt8026886,2018.0,0.0,7.5,28.0,Black Panther
39,Man Up,2015,Ben Palmer,Movie,tt3064298,2015.0,0.0,6.8,47491.0,Man Up
40,Frequency,2016,na,TV Show,tt5389698,2016.0,0.0,NaN,NaN,Frequency
41,Frequency,2016,na,TV Show,tt5531470,2016.0,2017.0,7.5,12381.0,Frequency
42,Frequency,2016,na,TV Show,tt5825034,2016.0,0.0,NaN,NaN,Frequency
43,Ben 10,2016,na,TV Show,tt6148376,2016.0,0.0,2.5,1962.0,Ben 10
44,Christiane Amanpour: Sex & Love Around the World,2018,na,TV Show,tt8205180,2018.0,0.0,7.4,601.0,Christiane Amanpour: Sex & Love Around the World
45,The Eighties,2016,na,TV Show,tt5144776,2016.0,2016.0,8.3,1086.0,The Eighties
46,The Nineties,2017,na,TV Show,tt5737432,2017.0,2017.0,8.2,895.0,The Nineties
47,The Seventies,2015,na,TV Show,tt4491456,2015.0,2015.0,8.3,1145.0,The Seventies
48,The Mayor,2017,Park In-je,Movie,tt6466972,2017.0,2018.0,5.5,1486.0,The Mayor
49,Amanda Knox,2016,"Rod Blackhurst, Brian McGinn",Movie,tt5952332,2016.0,0.0,6.9,19762.0,Amanda Knox

In [100]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3013 entries, 0 to 3012
Data columns (total 10 columns):
titleNetflix     3013 non-null object
release_year     3013 non-null int64
director         3013 non-null object
type             3013 non-null object
tconst           3013 non-null object
startYear        3013 non-null float64
endYear          3013 non-null float64
averageRating    2511 non-null float64
numVotes         2511 non-null float64
title            3013 non-null object
dtypes: float64(4), int64(1), object(5)
memory usage: 258.9+ KB

In [103]:
selecao = (df_netflix_limpo['titleNetflix'] == df_imdb['title']) & ((df_netflix_limpo['release_year'] - df_imdb['startYear'] <= 5)) | (df_netflix_limpo['release_year'] - df_imdb['endYear'] <= 5)
        
total = df_final[selecao].shape[0]
total

ValueError: Can only compare identically-labeled Series objects

In [101]:
# METODO DE SELECAO
# Selecao de filmes com mesmo titulo e com mesmo ano de lancamento: release year == starYear ou endYear
selecao = (df_final['titleNetflix'] == df_final['title']) & ((df_final['release_year'] == df_final['startYear']) | (df_final['release_year'] == df_final['endYear']) | df_final['difer'] < 5 )
total = df_final[selecao].shape[0]
total

3013

In [ ]:
#1-completar os campos nulos dos anos com 0
#2 - criar o campo 'difer'



df_imdb['difer'] = df_im

dados['Valor Bruto'] = dados['Valor'] - dados['Condominio'] + dados['IPTU']

In [48]:
#os problemas atuais - o 'caso Transformers'

# inner não deu certo com alguns filmes, não está fazendo a comparação corretamente ou não está entendendo
# como o mesmo valor

# a solucao será pelo metodo do 'pd.merge' ou pelo 'corte do DF' comparando as igualdades??
# temos que criar uma solucao para o campo ano, criando um novo campo 'diferenca', 
# que trataremos e criaremos uma comparacao maleavel que aceite 3 anos de diferenca entre os filmes
# dataset com o campo diretor sera necessario???

#Não deu certo os titulos por causa de espacos nas strings???

# Aquele problema do numero de indices eu entendi, é porque o ultimo numero do index é aquele, a gente nao fez novo index
# organizando o novo DF numa ordem para tapar os buracos que as linhas que saíram deixaram

#para ver qtde de registros nulos numa coluna >> dados[dados['coluna'].isnull()].shape[0]
# preenchendo valores nulos com valores atribuidos >> dados = dados.fillna({'coluna1': 0, 'Coluna2': 0})

In [ ]:
#descartamos a hipotese das string de titulos estarem com diferentes numeros de caracteres ou espacos em branco

In [ ]:
#Possíveis soluções:

#[1] Estamos na tentativa de fazer a comparacao de dois campos representativos do ano do filme: startYear e endYear com o campo do Netflix release_year
# Buscar a forma de comparar estes atributos num só recorte (Marlon-material)

#[2]Verificar os parametros do pd.merge que possibilitem esta comparação também.

#[3] Uma outra ideia é obter esta diferença e criar nova coluna 'difer'
#df['difer'] = df_final[df_final['release_year'] - df_final['startYear']]